.galeria .box{
    height: 250px;
    width: 200px;
}

.galeria{
    background-color: rgb(183, 167, 167);
    margin-top: 50px;
    border-radius: 10px;
    padding-left: 90px;
    padding-right: 20px;
    height: 400px;
    width: 400px;
    font-size: 15px;
    h2{
        font-size: 20px;
        color: black;
    }

}

